.auth_nav {
  display: flex;
  gap: 20px;
  font-size: 20px;
  font-weight: 500;
}

.auth_nav_link {
  color: white;
  position: relative;
}

.auth_nav_link_active {
  color: wheat;
}

.auth_nav_link_active::before {
  content: "";
  position: absolute;
  top: 36px;
  right: -10px;
  width: 120%;
  border: 1px solid wheat;
}
@media (max-width: 768px) {
  .auth_nav_link_active::before {
    top: 40px;
  }
}
